<%= content_for :title do "Resources" end %>
<%= content_for :page_description do "The sustainable software manifesto is built on collective wisdom. Here are some essential resources for looking further, along with acknowledgments for those who have inspired our work." end %>
<%= content_for :page_image do asset_url("logo.png") end %>

<div class="px-6 py-16 lg:px-8">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-400">
    <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 dark:text-gray-300 sm:text-5xl">Resources</h1>
    <p class="mt-6 text-xl/8 text-gray-600 dark:text-gray-400">The sustainable software manifesto is built on collective wisdom. Here are some essential resources for looking further, along with acknowledgments for those who have inspired our work.</p>

    <h2 class="mt-16 text-pretty text-3xl font-semibold tracking-tight text-gray-900 dark:text-gray-300 sm:text-4xl">Organizations and movements</h2>
    <ul role="list" class="mt-8 max-w-xl space-y-4 text-gray-600 dark:text-gray-400">
      <li>
        <a href="https://www.humanetech.com/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Center for Humane Technology</a>
      </li>
      <li>
        <a href="https://www.w3.org/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">World Wide Web Consortium (W3C)</a>
      </li>
      <li>
        <a href="https://www.bcorporation.net/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">B-Corp Certification</a>
      </li>
      <li>
        <a href="https://foundation.mozilla.org/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Mozilla Foundation</a>
      </li>
      <li>
        <a href="https://ethicalsource.dev/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Ethical Source Movement</a>
      </li>
      <li>
        <a href="https://www.techforgood.org/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Tech for Good</a>
      </li>
      <li>
        <a href="https://www.digitalpublicgoods.net/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Digital Public Goods Alliance</a>
      </li>
      <li>
        <a href="https://platform.coop/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Platform Cooperativism</a>
      </li>
    </ul>

    <h2 class="mt-16 text-pretty text-3xl font-semibold tracking-tight text-gray-900 dark:text-gray-300 sm:text-4xl">Thought leaders</h2>
    <ul role="list" class="mt-8 max-w-xl space-y-4 text-gray-600 dark:text-gray-400">
      <li>
        <a href="https://www.tristanharris.com/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Tristan Harris</a>
      </li>
      <li>
        <a href="https://lessig.org/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Lawrence Lessig</a>
      </li>
      <li>
        <a href="https://shoshanazuboff.com/book/shoshana/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Shoshana Zuboff</a>
      </li>
      <li>
        <a href="https://pluralistic.net/2024/11/02/ulysses-pact/#tie-yourself-to-a-federated-mast" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Cory Doctorow</a>
      </li>
      <li>
        <a href="https://www.kateraworth.com/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Kate Raworth</a>
      </li>
    </ul>

    <h2 class="mt-16 text-pretty text-3xl font-semibold tracking-tight text-gray-900 dark:text-gray-300 sm:text-4xl">Frameworks and resources</h2>
    <ul role="list" class="mt-8 max-w-xl space-y-4 text-gray-600 dark:text-gray-400">
      <li>
        <a href="https://sdgs.un.org/goals" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">United Nations Sustainable Development Goals (SDGs)</a>
      </li>
      <li>
        <a href="https://www.oecd.org/en/topics/ai-principles.html" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">OECD Principles on AI</a>
      </li>
      <li>
        <a href="https://openlibrary.org/books/OL3354285M/Liquid_modernity" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Bauman, Z. (2000). Liquid Modernity. Polity Press.</a>
      </li>
      <li>
        <a href="https://www.routledge.com/Identity-and-Digital-Communication-Concepts-Theories-Practices/Cover/p/book/9781032283951" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Cover, R. (2023). Identity and Digital Communication: Concepts, Theories, and Practices. Routledge.</a>
      </li>
      <li>
        <a href="https://www.mendeley.com/catalogue/5e1092a1-e7d3-35e6-aa68-6770ba9e6c74/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Hansen, A. H. (2019). "Et bofællesskab og en bevægelse: en antropologisk analyse af økosamfundsaktivisme på tværs af skalaer." Sociologisk Tidsskrift.</a>
      </li>
      <li>
        <a href="https://press.uchicago.edu/ucp/books/book/chicago/W/bo49911830.html" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Winner, L. (2020). The Whale and the Reactor: A Search for Limits in an Age of High Technology. University of Chicago Press.</a>
      </li>
      <li>
        <a href="https://teddykw2.wordpress.com/wp-content/uploads/2012/07/everett-m-rogers-diffusion-of-innovations.pdf" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Rogers, E. M. (1983). "Diffusion of Innovations." Free Press.</a>
      </li>
      <li>
        <a href="https://sustainabilitydesign.org/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">The Karlskrona Manifesto for Sustainability Design</a>
      </li>
      <li>
        <a href="https://www.agilealliance.org/sustainability-manifesto/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Agile Sustainability Manifesto</a>
      </li>
    </ul>

    <h2 class="mt-16 text-pretty text-3xl font-semibold tracking-tight text-gray-900 dark:text-gray-300 sm:text-4xl">Key reports and documentation</h2>
    <ul role="list" class="mt-8 max-w-xl space-y-4 text-gray-600 dark:text-gray-400">
      <li>
        <a href="https://www.humanetech.com/the-social-dilemma" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">"The Social Dilemma" (documentary)</a>
      </li>
      <li>
        <a href="https://pub.norden.org/nord2023-004/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">Nordic Think Tank for Tech and Democracy</a>
      </li>
      <li>
        <a href="https://gdpr.eu/what-is-gdpr/" target="_blank" class="text-teal-600 font-semibold underline decoration-dotted hover:text-teal-500">GDPR (General Data Protection Regulation)</a>
      </li>
    </ul>
  </div>
</div>
