<footer class="mx-auto px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
  <div class="mt-24 border-t border-gray-900/10 pt-12">
    <div class="text-center">
      <h2 class="text-base/7 font-semibold text-teal-600">Looking Further</h2>
      <p class="mt-2 text-balance text-2xl font-semibold text-gray-900 dark:text-gray-300 sm:text-3xl">We are Standing on the Shoulders of Giants</p>
      <p class="mt-4 text-pretty text-base/7 text-gray-600 dark:text-gray-400">The Sustainable Software Manifesto is built on collective wisdom.</p>
      <div class="mt-6">
        <a href="/resources" class="rounded-md bg-teal-600 px-3.5 py-2.5 text-sm font-semibold text-white dark:text-gray-200 shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">View Resources and Acknowledgments</a>
      </div>
    </div>
  </div>
</footer>
