<footer class="bg-white">
  <div class="mx-auto px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
    <div class="mt-24 border-t border-gray-900/10 pt-12 xl:grid xl:grid-cols-3 xl:gap-8">
      <hgroup>
        <h2 class="text-base/7 font-semibold text-teal-600">Looking Further</h2>
        <p class="mt-2 text-balance text-3xl font-semibold text-gray-900 sm:text-4xl">We are Standing on the Shoulders of Giants</p>
      </hgroup>
      <p class="mt-4 max-w-xl text-pretty text-lg/8 text-gray-600">The Sustainable Software Manifesto is built on collective wisdom. Here are the essential resources for looking further, along with acknowledgments for those who have inspired our work.</p>
      <div class="mt-16 sm:grid sm:grid-cols-2 sm:gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm/6 font-semibold text-gray-950">Organizations and Movements</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="https://www.humanetech.com/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Center for Humane Technology</a>
              </li>
              <li>
                <a href="https://www.w3.org/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">World Wide Web Consortium (W3C)</a>
              </li>
              <li>
                <a href="https://www.bcorporation.net/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">B-Corp Certification</a>
              </li>
              <li>
                <a href="https://foundation.mozilla.org/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Mozilla Foundation</a>
              </li>
              <li>
                <a href="https://ethicalsource.dev/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Ethical Source Movement</a>
              </li>
              <li>
                <a href="https://www.techforgood.org/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Tech for Good</a>
              </li>
              <li>
                <a href="https://www.digitalpublicgoods.net/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Digital Public Goods Alliance</a>
              </li>
              <li>
                <a href="https://platform.coop/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Platform Cooperativism</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-950">Thought Leaders</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="https://www.tristanharris.com/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Tristan Harris</a>
              </li>
              <li>
                <a href="https://lessig.org/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Lawrence Lessig</a>
              </li>
              <li>
                <a href="https://shoshanazuboff.com/book/shoshana/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Shoshana Zuboff</a>
              </li>
              <li>
                <a href="https://pluralistic.net/2024/11/02/ulysses-pact/#tie-yourself-to-a-federated-mast" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Cory Doctorow</a>
              </li>
              <li>
                <a href="https://www.kateraworth.com/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Kate Raworth</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="mt-10 sm:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-950">Frameworks and Resources</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="https://sdgs.un.org/goals" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">United Nations Sustainable Development Goals (SDGs)</a>
              </li>
              <li>
                <a href="https://www.oecd.org/en/topics/ai-principles.html" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">OECD Principles on AI</a>
              </li>
              <li>
                <a href="https://sustainabilitydesign.org/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">The Karlskrona Manifesto for Sustainability Design</a>
              </li>
              <li>
                <a href="https://www.agilealliance.org/sustainability-manifesto/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Agile Sustainability Manifesto</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-950">Key Reports and Documentation</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="https://www.humanetech.com/the-social-dilemma" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">“The Social Dilemma” (Documentary)</a>
              </li>
              <li>
                <a href="https://pub.norden.org/nord2023-004/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">Nordic Think Tank for Tech and Democracy</a>
              </li>
              <li>
                <a href="https://gdpr.eu/what-is-gdpr/" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900">GDPR (General Data Protection Regulation)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
