<footer class="bg-gray-50 dark:bg-slate-950/50" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="mx-auto max-w-3xl">
      <div class="xl:flex xl:justify-end">
        <div class="w-full">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100">Navigation</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li><a href="<%= root_path %>" class="text-sm/6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200">Home</a></li>
                <li><a href="<%= resources_path %>" class="text-sm/6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200">Resources</a></li>
                <li><a href="<%= signatures_path %>" class="text-sm/6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200">Signatures</a></li>
              </ul>
            </div>
            <div class="mt-10 md:mt-0">
              <h3 class="text-sm/6 font-semibold text-gray-900 dark:text-gray-100">Get Involved</h3>
              <ul role="list" class="mt-6 space-y-4">
                <li><a href="<%= sign_path %>" class="text-sm/6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200">Sign the Manifesto</a></li>
                <li><a href="https://zensocial.online/circles/empowering-digital-communities" target="_blank" class="text-sm/6 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-200">Join the Conversation</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-16 border-t border-gray-900/10 dark:border-gray-200/10 pt-8 sm:mt-20 lg:mt-24">
        <p class="text-xs/5 text-gray-500 dark:text-gray-400">
          A collaboration by Jeppe Liisberg, Stefano Romanelli, and contributors. Supported by <a href="https://nordicmedialab.dk" target="_blank" class="font-semibold text-teal-600 hover:text-teal-500">Nordic Media Lab</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
