<header class="mx-auto max-w-7xl px-6 lg:px-8">
  <nav class="flex items-center justify-center py-6" aria-label="Global">
    <div class="flex gap-x-12">
      <%= nav_link_to "Home", root_path %>
      <%= nav_link_to "Resources", resources_path %>
      <%= nav_link_to "Signatures", signatures_path %>
    </div>
  </nav>
</header>
